<div class="dashboard-container" *ngIf="user; else errorBlock">
  <div class="top-row">
    <div class="user-details">
      <h3><strong>First Name:</strong> {{ user.first_name }}</h3>
      <h3><strong>Last Name:</strong> {{ user.last_name }}</h3>
      <p><strong>Email:</strong> {{ user.email }}</p>
    </div>

    <img *ngIf="user.profile_image"
      [src]="user.profile_image"
      alt="Profile Image"
      class="profile-image" />
  </div>

  <button (click)="logout()">Logout</button>
</div>

<ng-template #errorBlock>
  <div class="error-message">
   
  </div>
</ng-template>
