<div class="content">
  <div class="desc">
    <h1>
      <strong>Intelligent Login Monitoring  and Admin Alert System </strong> is an authentication system that has
fake attempted login reporting and admin monitoring alert incorporated into it.
It uses the Blowfish algorithm and AES to encrypt user credentials for sophisticated security.
It is a multi-tier application, as the frontend is an Angular application running
on port 4200 hosted on vercel.com, while the backend tier comprises a
Django/Django REST Framework application running on port 8000 with PostgreSQL Database
running on port 5432, hosted on render.com, such that the frontend and the backend tiers
communicate using REST API.
    </h1>
  </div>
</div>
